*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:#d9d9d9;
    font-family:'Montserrat',sans-serif;
    margin:0;
}

.pass-card{
    width:420px;
    height:800px;
    background:#FFF2F8;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:12px;
}
.page-content{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:40px 0;
}

.logo{
    width:243px;
    height:auto;
    margin-top:61px;
    display:block;
}

.gate-pass-title{
    margin-top:54px;
    font-size:36px;
    font-weight:700;
    color:#000;
}

.employee-details{
    text-align:center;
}

.employee-name{
    margin-top:58px;
    font-size:36px;
    font-weight:600;
    color:#000;
}

.designation{
    margin-top:10px;
    font-size:22px;
    font-weight:500;
    color:#000;
}

.contact{
    margin-top:14px;
    font-size:22px;
    font-weight:500;
    color:#000;
}

.qr-code{
    width:220px;
    height:220px;
    background:#fff;
    margin-top:35px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:10px;
}

.qr-code img{
    width:180px;
    height:180px;
}

.watermark{
    position:absolute;
    left:0px;
    bottom:0px;
    width:100px;
    opacity:.06;
}

.print-btn{
    margin-top:30px;

    width:220px;
    height:56px;

    border:none;
    border-radius:10px;

    background:linear-gradient(
        90deg,
        #9E0054 0%,
        #C70068 35%,
        #E5007A 70%,
        #FF1A8C 100%
    );

    color:#fff;
    font-size:16px;
    font-weight:700;

    cursor:pointer;
    transition:all .3s ease;

    box-shadow:0 6px 16px rgba(255,0,127,.30);
}

.print-btn:hover{
    background:linear-gradient(
        90deg,
        #8C004B 0%,
        #B90062 35%,
        #D90074 70%,
        #FF2A96 100%
    );

    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(255,0,127,.40);
}

.print-btn:active{
    transform:translateY(0);
}

@media print{
    .print-btn{
        display:none;
    }

    body{
        background:white;
        padding-bottom:0;
    }

    .pass-card{
        box-shadow:none;
    }
}

    .logo{
        width:140px;
    }

    .gate-pass-title{
        font-size:28px;
    }

    .employee-name{
        font-size:30px;
    }

    .designation,
    .contact{
        font-size:18px;
    }

    .qr-code{
    width:220px;
    height:220px;

    margin:35px auto 0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#fff;
    border-radius:10px;
}

    .qr-code img{
        width:150px;
        height:150px;
    }
    .employee-details{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
}


@media print{

   .print-btn{
    position:absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
}
    body{
        background:white;
        padding-bottom:0;
    }

    .pass-card{
        box-shadow:none;
    }
}