*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat',sans-serif;
    background:#d9d9d9;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;
}

.card{
    width:650px;
    height:auto;

    background:#FFF2F8;

    position:relative;

    padding:30px 50px;

    overflow:hidden;
}

.container{
    max-width:420px;
    margin:0 auto;
}

.logo{
    width:150px;
    display:block;
    margin:0 auto 20px;
}

h1{
    text-align:center;
    font-size:22px;
    font-weight:700;
    color:#000;

    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    font-size:14px;
    font-weight:500;
    color:rgba(0,0,0,0.6);

    margin-bottom:25px;
}

form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.form-group{
    display:flex;
    flex-direction:column;
    gap:8px;
}

label{
    font-size:14px;
    font-weight:500;
}

input{
    width:100%;
    height:44px;

    border:1px solid #E2E2E2;
    border-radius:8px;

    padding:0 14px;

    font-size:14px;
}

input::placeholder{
    color:#BDBDBD;
}
button{
    background: linear-gradient(
        90deg,
        #C70063 0%,
        #E50078 35%,
        #FF007F 100%
    );

    color: white;
    border: none;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;

    box-shadow: 0 5px 15px rgba(255,0,127,.35);
}
button:hover:not(:disabled){
    background: linear-gradient(
        90deg,
        #B0005B 0%,
        #D80072 35%,
        #FF1A8C 100%
    );

    transform: translateY(-2px);
}

button:active:not(:disabled){
    transform:translateY(0);
    box-shadow:0 3px 8px rgba(255,0,122,0.25);
}

button:disabled{
    background:linear-gradient(180deg,#F8BFD8 0%,#F3A8CB 100%);
    opacity:0.6;
    cursor:not-allowed;
    box-shadow:none;
}

.watermark{
    position:absolute;
    left:0px;
    bottom:0px;
    width:100px;
    opacity:.06;
}
@media(max-width:768px){

    body{
        padding:0;
        background:white;
    }

    .card{
        width:100%;
        min-height:100vh;

        padding:30px 20px;
    }

    .container{
        max-width:100%;
    }

    .logo{
        width:150px;
    }

    h1{
        font-size:20px;
    }

    .subtitle{
        font-size:14px;
    }
}
@media (max-width: 768px){

    body{
        padding:0;
        background:#FFF2F8;
    }

    .assessment-card,
    .result-card,
    .pass-card,
    .video-card,
    .card{
        width:100%;
        min-height:100vh;
        height:auto;
        border-radius:0;
    }

    .logo{
        width:180px;
    }

}